body {
  font-family: "helvetica", sans-serif;
  text-align: center;
}


.title {
  font-size: 3.5em;
  font-weight: bold;
  margin-top: 80px;
  text-align: center;
  letter-spacing: -2px;
}

form {
    position: relative;
}

input {
    width: 10%;
    padding-right: 40px;
}

button {
    width: 100px;
    text-align: center;
    position: relative;
}

label {
    text-align: right;
    clear: both;
    position: relative;
    margin-right:2px;
}
