<!DOCTYPE html>
<html lang="en">

{%block title%}Probability Assessment{%endblock%}

{%block content %}
<form action="#" method="post">

<!--    <h1>Probability Assessment</h1>-->
<!--    {% for x in content %}-->
<!--        <p>{{x}}</p>-->
<!--    {% endfor %}-->
    <form action="#" method="post">
        {% for x in content %}
            <p>{{x}}</p>
            <p><input type="text" name="answer"></p>
        {% endfor %}
        <p><input type="submit" value="Finish" /></p>
    </form>
{% endblock %}
